body {
  font-size: 13px;
}

h1 {
  font-size: 2.0rem;
  font-weight: 700;
  letter-spacing: .2rem;
}

pre, code {
  font-family: Inconsolata, monospace;
}

pre.debug {
  font-size: 10px;
}

code {
  background: none;
  border: none;
  margin: 0px;
  border-radius: 0px;
  font-size: inherit;
}

a {
  color: hsl(340, 100%, 40%);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  color: hsl(340, 100%, 25%);
}

.text-right {
  text-align: right;
}
